from mainframe import app
app.config['MONGODB_SETTINGS'] = {
	'db': 'memphis',
	'host': '127.0.0.1',
	'port': 27017,
	'username': 'memphis_admin',
	'password': 'memphis'
}
app.config['SECRET_KEY'] = 'top secret'
app.config['JWT_ACCESS_LIFESPAN'] = {'hours': 24}
app.config['JWT_REFRESH_LIFESPAN'] = {'days': 30}
app.config['PROPAGATE_EXCEPTIONS'] = True
